
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">
        <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap.css.map">
        <script src="/js/index.js"></script>
        
       
        <title>EMS</title>
    </head>
    <body class="bg-grey">
        <header class="bg-white">
            <div class="brand">
                <div class="logo">
                    <img src="/images/Group 3.png" alt="">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <a href=""><li class="text-blue ">Calender</li></a>
                    <a href="/logout"><li class="text-blue">Log Out</li></a>
                    <a href=""><li class="text-blue">My Approals</li></a>
                    <a href=""><li class="text-blue">Filed Issues</li></a>
    
                </ul>
            </div>
            <div class="notifications">
                <div class="icons"><i class="bi bi-bell text-grey"></i></div>
                <span class="icons nort-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-envelope text-grey "></i></span>
                <div class="icons"><i class="bi bi-person-fill text-grey"></i></div>
            
            </div>
            
        </header>
    
        <div class="wrapper">
            <%if(typeof success != 'undefined'){%>
                <div class="alert alert-success animate-me" role="alert">
                    <%=success %>
                   </div>
                   <%}%>
                   <%if(typeof danger != 'undefined'){%>
                   <div class="alert alert-danger animate-me" role="alert">
                     <%=danger%>
                   </div>
                   <%}%>
                   <%if(typeof message != 'undefined'){%>
                    <div class="alert alert-success animate-me" role="alert">
                        <%=message %>
                       </div>
                       <%}%>
            <div class="wrapper-header mt-3">
                <h3 class="text-blue">Employees</h3>
                <button class="btn bg-success text-white bold" data-bs-toggle="modal" data-bs-target="#salary"><i class="bi bi-cash text-white "></i> Salary Payment</button>
                <button class="btn bg-primary text-white bold"data-bs-toggle="modal" data-bs-target="#deposit"><i class="bi bi-cash text-white"> </i>Deposit</button>
    
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Requests</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <% if (typeof requests != 'undefined' ) {%> 
                                <!-- <div class="dot"></div> -->
        
                                <% let request%>
                                 <% for(request of requests) {%>
                                    <div class="issues">
                                        <p class="text-blue text-nopm"><%=request.empName %></p>
                                        <p class="text-blue text-nopm"><%=request.requestType %></p>
                                        <form action="/deleterequest" method="post">
                                            <input type="text" name="id" hidden value=<%=request._id %>>
                                            <button type="submit" class="btn"><i class="bi bi-trash text-blue"></i></button>
                                           
                                        </form>
                                    </div>
                                 <% } %>
                             
                                 <% } %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
    
      
                    <!--salary Modal -->
                    <div class="modal fade" id="salary" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-blue text-white">
                            <h5 class="modal-title" id="staticBackdropLabel">Salary Payment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post">
                                    <div class="input-group mt-3">
                                        <input type="text" class="form-control" placeholder="This Feature is Not Available">
                                        
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    <!-- deposit modal -->
                    <div class="modal fade" id="deposit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-blue text-white">
                            <h5 class="modal-title" id="staticBackdropLabel">Deposit Money</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/send" method="post">
                                    <div class="input-group mt-3">
                                        <input type="number" class="form-control" name="phone" placeholder="Phone Number eg 2547XXXXXXXX">
                                    </div>
                                    <div class="input-group mt-3">
                                        <input type="number" class="form-control" name="amount" placeholder="Amount">
                                    </div>
                                    <div class="input-group mt-3">
                                        <input type="submit" class="form-control btn btn-primary"  value="Deposit">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
    
    
    
    
                <!-- Button trigger modal -->
                <button class="btn bg-blue text-white" data-bs-toggle="modal" data-bs-target="#add-employee"><i class="bi bi-plus"></i> New Employee</button>
                <!-- Modal -->
                    <div class="modal fade" id="add-employee" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-blue text-white">
                            <h5 class="modal-title" id="staticBackdropLabel">Add Employee</h5>
                            <button type="button" class="btn-close bg-white text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/newuser" method="post">
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input type="text" class="form-control" name="firstName" placeholder="First Name" required >
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" name="lastName" placeholder="Last Name" required >
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input type="email" class="form-control" name="email" placeholder="Email" required >
                                        </div>
                                        <div class="col">
                                            <input type="number" class="form-control" name="phone" placeholder="Phone" required >
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <select class="form-select" name="employeeType" aria-label="Default select example" required>
                                                
                                                <option selected value="Fulltime">Fulltime</option>
                                                <option value="PartTime">PartTime</option>
                                                
                                              </select>
                                        </div>
                                        <div class="col">
                                            <select class="form-select" name="employeeStatus" aria-label="Default select example" required>
                                                
                                                <option selected value="worker">Worker</option>
                                                <option value="test period">Test period</option>
                                                
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input type="number" class="form-control" name="salary" placeholder="Salary" required >
                                        </div>
                                        <div class="col">
                                            <input type="date" class="form-control" name="date" placeholder="Employment Date" required >
                                        </div>
                                    </div>
                                    <div class="input-group mt-3">
                                        <select class="form-select" name="employeeRole" aria-label="Default select example" required>
                                                
                                            <option selected value="user">User</option>
                                            <option value="admin">Admin</option>
                                            
                                          </select>
                                    </div>
                                    <div class="input-group mt-3 hover">
                                        <input type="submit" class="btn form-control bg-blue text-white" value="Submit">
                                    </div>
                                </form>
                           
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--  end of modal -->
    
            </div>
            <div class="wrapper-body mt-3">
                <div class="task-manager  bg-white text-blue">
                    <div class="task-manager-header mt-3">
                        <div class="task-name">
                             <h5>Task</h5>
                             
                        </div>
                        <button class="btn bg-blue text-white" data-bs-toggle="modal" data-bs-target="#task">Add Task</button>
                    </div>
                    <div class="task-manager-body mb-3">
                        <% if (tasks) {%>  
                            <% for(let task of tasks) {%>
                                <div class="shape">
                                <div class="task-logo">
                                    <h6 class="bg-grey text-nopm center round"><%=task.initials %></h6>
                                </div>
                                <div class="task-company">
                                    <h4 class="text-nopm"><%=task.taskName %></h4>
                                    <p class="text-nopm"><%=task.employee%></p>
                                </div>
                                <div class="task-manage center">
                                   
                                    <form action="/deletetask" method="post">
                                        <input type="text" name="id" hidden value=<%=task._id %>>
                                        <button type="submit" class="btn"><i class="bi bi-trash-fill text-blue"></i></button>
                                       
                                    </form>
                                </div>
                                </div>
                            <% } %>
                        <% } %>
                      
                        
    
                    </div>
                    <!-- task modal -->
                    <div class="modal fade" id="task" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-blue text-white">
                            <h5 class="modal-title" id="staticBackdropLabel">New Task</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/newtask" method="post">
                                    <div class="row mt-3">

                                        <div class="col">
                                            <input type="text" class="form-control" name="initials" placeholder="Task Initials e.g SK" required>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" name="taskName" required placeholder="Task Name e.g Saiko Bank">
                                        </div>
                                    </div>
                                    <div class="input-group mt-3">
                                        <select class="form-select" name="employee" aria-label="Default select example" required>
                                            <% if (data) {%>  
                                               <% let employee%>
                                                <% for(employee of data) {%>
                                                    <option value= <%= employee.firstName+employee.lastName%>><%= employee.firstName %> <%=employee.lastName %></option>
                                                <% } %>
                                            
                                                <% } %>
                                          </select>
                                    </div>
                                    <div class="input-group mt-3">
                                        <input type="text" name="description" class="form-control" placeholder="description">
                                    </div>
                 
                                    
                                    <div class="input-group  mt-3">
                                        <input type="submit" class="btn bg-blue text-white">
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    
    
    
                </div>
                <div class="employee-manager text-blue">
                    <table class="table-stipped">
                        <thead >
                            <th class="text-blue "><i class="bi bi-person-fill text-grey"></i> Employee</th>
                            <th class="text-blue "><i class="bi bi-cash text-grey"></i> salary</th>
                            <th class="text-blue "><i class="bi bi-person-check text-grey"></i> Status</th>
                            <th class="text-blue"><i class="bi bi-people-fill text-grey"></i> Manage</th>
    
    
                        </thead>
                        <tbody class="mt-2">
                            <% if(data.length) {%>
                                <% for(let user of data){ %>
                                    <tr class="bg-white">
                                        <td>
                                            <p class="text-blue font-mid"><%= user.firstName %> <%=user.lastName %></p>
                                            <p class="auxiliary"><%= user.email %></p>
                                        </td>
                                        <td>
                                            <p class="text-blue font-mid"><%= user.salary %></p>
                                            <p class="auxiliary"><%= user.employeeType %></p>
                                        </td>
                                        <td>
                                            <p class="text-blue font-mid"><%= user.employeeStatus %></p>
                                            <p class="auxiliary"><%= user.phone%></p>
                                        </td>
                                        <td class="action">
                                            <a href=""  class="center" id="updatePen" data-bs-toggle="modal" data-bs-target="#update"><i class="bi bi-pen-fill text-blue"></i></a>
                                            <!-- <a href="/deleteuser/" class="center"><i class="bi bi-trash-fill text-blue"></i></a>   -->
                                            <form action="/deleteuser" method="post">
                                                <input type="text" name="id" hidden value=<%=user._id %>>
                                                <button type="submit" class="btn"><i class="bi bi-trash-fill text-blue"></i></button>
                                               
                                            </form>                            
                                             <!-- update modal -->
                                             <div class="modal fade" id="update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Update User</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="/updateuser" method="post">
                                                            
                                                                <input type="text" hidden name="id" id="userId" class="form-control"  value=<%= user._id %>>
                                                            
                                                            <div class="input-group mt-3">
                                                                <input type="number" class="form-control" name="phone" placeholder=<%= user.phone %> required>
                                                            </div>
                                                            <div class="input-group mt-3">
                                                                <input type="email" class="form-control" name="email" placeholder=<%= user.email %> required>
                                                            </div>
                                                            
                                                            <div class="input-group mt-3">
                                                                <input type="submit" class="btn btn-primary" id="updatebtn"  value="Update">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <!-- <button type="button" class="btn btn-primary">Understoo</button> -->
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- end of update modal  -->
                                        </td>
            
                                    </tr>

                                <% } %>

                            <% } else{ %>
                                <tr class="bg-white text-blue">No Employees</tr>
                            <% } %>
                            
                           
                            
                        </tbody>
                       
                    </table>
        
                </div>
            </div>
            
        </div>
        


<!-- javascript files -->

<%- include('./partials/footer.ejs') %>

</body>
</html>
